<app-navbar></app-navbar>
<div class="feature-page  h-auto w-full">
    <h1>Real-Time Visibility</h1>
    <p>
      With BuildVista's real-time visibility feature, you can monitor every aspect of your construction project as it happens. From tracking task completion to viewing resource allocation, our platform gives you a clear picture of your project's progress. Stay informed and make timely decisions to keep everything on track.
    </p>
    <ul>
      <li>Live updates on project milestones</li>
      <li>Instant notifications for delays or issues</li>
      <li>Access to comprehensive dashboards</li>
    </ul>
    <div class="flex items-center mt-24">
      <div class="mx-20 mb-40 mt-10 icon-text-container ">
          <span class="animate-pulse material-symbols-outlined large-icon">
          <a href="/feature1"><img src="assets/icons/update.png" alt="real-time visibility" /></a>
           </span>
      
             <a>real-time visibility</a>
                       
  </div>
  
  
  <div class="mx-20 mb-40 mt-10 icon-text-container ">
      <span class="animate-pulse material-symbols-outlined large-icon">
      <a href="/feature2"><img src="assets/icons/paid.png" alt="" /></a>
      </span>
  
      <a>cost estimation</a>
                
  </div>
  <div class="mx-20 mb-40 mt-10 icon-text-container ">
      <span class="animate-pulse material-symbols-outlined large-icon">
      <a href="/feature3"><img src="assets/icons/prediction.png" alt="" /></a>
          </span>
  
      <a>market trends prediction</a>
                
  </div>
  <div class="mx-20 mb-40 mt-10 icon-text-container ">
      
      <span class="animate-pulse material-symbols-outlined large-icon">
          <a href="/feature4"><img src="assets/icons/communicate.png" alt="" /></a>
              </span>
      <a>communication</a>
                
  </div>
  </div>
  </div>
  <app-footer></app-footer>
  <app-root></app-root>