.pulse {
    animation: pulse 3s infinite;
  }
  
  @keyframes pulse {
    0% {
      font-variation-settings: 'wght' 100;
    }
    50% {
      font-variation-settings: 'wght' 700;
    }
    100% {
      font-variation-settings: 'wght' 100;
    }
  } 

  .large-icon {
    font-size: 64px;
  }

  .icon-text-container {
    display: flex;
    flex-direction: column; /* Stack icon and text vertically */
    align-items: center; /* Center align horizontally */
    justify-content: center; /* Center align vertically */
    text-align: center; /* Ensure the text is centered under the icon */
    font-weight: bold; /* Makes text bold */
      
  }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}
