<app-navbar></app-navbar>
<div class="feature-page h-screen">
    <h1>Market Trends Prediction</h1>
    <p>
      Stay ahead of industry trends with BuildVista’s market trends prediction tool. Our platform provides insights into pricing, demand, and resource availability, allowing you to make informed decisions and remain competitive.
    </p>
    <ul>
      <li>Analysis of construction industry trends</li>
      <li>Predictions on cost fluctuations</li>
      <li>Supply and demand forecasts</li>
    </ul>
    <div class="flex items-center mt-24">
      <div class="mx-20 mb-40 mt-10 icon-text-container ">
          <span class="animate-pulse material-symbols-outlined large-icon">
          <a href="/feature1"><img src="assets/icons/update.png" alt="real-time visibility" /></a>
           </span>
      
             <a>real-time visibility</a>
                       
  </div>
  
  
  <div class="mx-20 mb-40 mt-10 icon-text-container ">
      <span class="animate-pulse material-symbols-outlined large-icon">
      <a href="/feature2"><img src="assets/icons/paid.png" alt="" /></a>
      </span>
  
      <a>cost estimation</a>
                
  </div>
  <div class="mx-20 mb-40 mt-10 icon-text-container ">
      <span class="animate-pulse material-symbols-outlined large-icon">
      <a href="/feature3"><img src="assets/icons/prediction.png" alt="" /></a>
          </span>
  
      <a>market trends prediction</a>
                
  </div>
  <div class="mx-20 mb-40 mt-10 icon-text-container ">
      
      <span class="animate-pulse material-symbols-outlined large-icon">
          <a href="/feature4"><img src="assets/icons/communicate.png" alt="" /></a>
              </span>
      <a>communication</a>
                
  </div>
  </div>
  </div>
<app-footer></app-footer>
<app-root></app-root>