<app-contractor-navbar></app-contractor-navbar>
<div class="bg-gray-200">
<div class="container bg-gray-200 py-4">
    <h2>Current Projects</h2>
  
    <div class="project-list">
      <div *ngFor="let project of projects " class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Project Name: {{project.projectName}}</h5>
          <!-- <p>Status: {{ project.status }}</p> -->
          
          <!-- Optional Progress Bar -->
          <div *ngIf="project?.completion !== undefined" class="progress mb-2">
            <div 
              class="progress-bar" 
              [style.width.%]="project.completion" 
              [ngClass]="{
                'bg-success': project.completion >= 75,
                'bg-warning': project.completion >= 50 && project.progress < 75,
                'bg-danger': project.completion < 50
              }">
              {{ project.completion }}%
            </div>
          </div>
  
          <app-button class="" label="View Details" styleType="simple" (onClick)="navigateToProjectdashboard(project?.chatId,project?._id,project?.isApproved)">
          </app-button>
        </div>
      </div>
    </div>
  </div>
  </div>
<app-footer></app-footer>
<app-root></app-root>
