@if (loginUser) {
  <app-navbar2></app-navbar2>
} @else {
  <app-navbar></app-navbar>
}

<div class="bg-gray-200 py-10 px-10">
    <h1>Terms and Conditions</h1>
    <p><strong>Last updated:</strong> 04-11-24</p>
  
    <section>
      <h2>1. Acceptance of Terms</h2>
      <p>By using the BuildVista platform, you agree to comply with and be bound by these terms. If you do not agree, you may not access or use our services.</p>
    </section>
  
    <section>
      <h2>2. Use of Services</h2>
      <p>Our services are intended solely for professional use in construction management. You agree not to misuse our services or interfere with their operation.</p>
    </section>
  
    <section>
      <h2>3. User Accounts</h2>
      <p>To access some features, you may be required to create an account. You are responsible for maintaining the confidentiality of your account information and for any activities that occur under your account.</p>
    </section>
  
    <section>
      <h2>4. Intellectual Property</h2>
      <p>All content and materials on the BuildVista platform are the intellectual property of BuildVista or our licensors. You may not use, copy, or distribute any materials without prior written permission.</p>
    </section>
  
    <section>
      <h2>5. User Content</h2>
      <p>By submitting any content (e.g., project updates, photos), you grant BuildVista a non-exclusive, royalty-free, worldwide license to use, modify, and display your content in connection with our services.</p>
    </section>
  
    <section>
      <h2>6. Limitation of Liability</h2>
      <p>BuildVista is not liable for any damages or losses arising from your use of our platform. This includes, but is not limited to, direct, indirect, incidental, and consequential damages.</p>
    </section>
  
    <section>
      <h2>7. Termination</h2>
      <p>We reserve the right to suspend or terminate your account and access to our services at any time, without notice, for any reason, including violation of these terms.</p>
    </section>
  
    <section>
      <h2>8. Governing Law</h2>
      <p>These terms are governed by and construed in accordance with the laws of Pakistan. Any disputes arising from these terms shall be resolved in the courts.</p>
    </section>
  
    <section>
      <h2>9. Changes to Terms</h2>
      <p>We may update these Terms and Conditions periodically. We will notify users of any changes by posting the updated terms on our platform.</p>
    </section>
  </div>
  <app-footer></app-footer>
  <app-root></app-root>