.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    height: 600px;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(255, 255, 255), rgb(90, 90, 89));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(255, 255, 255),rgb(90, 90, 89))
    }
    
    .card1{

        height: 600px;
        width: 950px;
        background-color: #c0bdbd;
    }
    .image1
{
    margin-left: 110px;
    margin-top: 120px;

}
.button{

    background-color: black;
    color: white;
    font-size: 18px;
   
    margin-bottom: 20px;
    
    

}