
img {
  filter: grayscale(100%) contrast(200%);
}


.carousel-inner img {
    height: 700px;
     
    object-fit: cover; /* Adjust height as needed 
    /* Ensures the image covers the area without stretching */
  }

  
  .container-fluid{
    
    display:flex;
    justify-content: center;
  
  }
  
 
  .imagef{
    height: 700px;
   width: 100%;
  }
  .textf{

    margin: auto;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    /*text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
    
    font-family: 'Times New Roman', Times, serif;*/
    font-size: 60px;

  }
  .text-bg{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-top: 1px solid rgb(104, 103, 103);*/
    
    
  }
  .imageR{
    height: 400px;
    width: 170;
    opacity: 0.4;
  }
  .slider{
    width: 100%
    
    ;
    
    
  }
 /* .part2{

    
    justify-content: center;
    background-color:black;
 

  }*/
  .text-row2{

    height: 200px;
    color: rgb(243, 224, 55);
    font-size: 80px;
    font-weight:600;
    
    padding: 40px;
    /*text-shadow: 0 0 5px white, 0 0 5px #020202;*/
   
  }
  .row-2{
    background-color:rgb(53, 53, 53);
    box-shadow: 5px 5px rgb(255, 255, 255);
    
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 8px;
     
   
    margin: auto;
    text-align:justify;
    
    background-color:rgb(186, 184, 184) ;
    border-radius: 20px;
    align-items: center;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 250px;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .row3{
    background-color:rgb(53, 53, 53);
    height: 500px;
  }
  .card img{
    height: 100px;
    width: 100px;
  }
  .card-transition{
    height: 410px;
    width: 310px;
    transition: width 0.5s, height 0.5s;
    
  }
  .card-transition:hover{
    height: 410px;
    width: 310px;
  }
  .card p{
    width: 250px;
    align-content: center;
  }
  .up-card{

    height: 250px;
    width: 70%;
    margin-top: 130px;
    display: block;
    
    
   
    
  }
  .up-card h1{

   font-size: 110px;
   font-weight:700;
  }
  