<app-navbar2></app-navbar2>
<div class="bg-gray-200">
<div class="container mx-auto py-6">
    <!-- Heading Section -->
    <header class="flex justify-between items-center mb-6">
      <h2 class="text-2xl font-bold">Showing list of contractors...</h2>
      <div>
        <label for="city" class="block text-lg font-medium">Select your city</label>
        <select id="city" class="w-64 p-2 border rounded-md">
          <option>Select city</option>
          <option>Lahore</option>
          <option>Karachi</option>
          <option>Islamabad</option>
          <option>Faisalabad</option>
          <option>Sialkot</option>
          <option>Quetta</option>
          <option>Peshawar</option>
          <option>Multan</option>
          <option>Rawalpindi</option>
          <option>Murree</option>
          <option>Hyderabad</option>
        </select>
      </div>
    </header>
  
    <!-- Contractor Cards -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Contractor Card -->
      <div *ngFor="let contractor of contractors" class="bg-white shadow-lg rounded-lg p-4 flex space-x-4">
        <!-- Contractor Image -->
        <div class="w-1/3">
          <img [src]="contractor.profilePic" alt="Habib Construction Logo" class="w-full h-auto">
        </div>
        <!-- Contractor Info -->
        <div class="w-2/3">
          <h3 class="text-xl font-bold">{{contractor.companyName}}</h3>
          <p class="text-gray-600 text-sm mb-4">{{contractor.description}}</p>
          <div class="text-lg mb-4">
            <span>Price:</span>
            <div class="flex space-x-4">
              <span>With material:{{contractor.priceWithMaterial}}</span>
              <span>Without material: {{contractor.priceWithoutMaterial
              }}</span>
            </div>
          </div>
          <!-- Buttons -->
          <div class="flex space-x-4">
            <button  (click)="navigateToVisitContractorProfile(contractor?.companyId,contractor?.contractorUserId)" class="bg-gray-800 text-white py-2 px-4 rounded-md hover:bg-gray-600">Visit Profile</button>
            <button  (click)="navigateToStartnewproject(contractor?.contractorUserId)" class="bg-black text-white py-2 px-4 rounded-md hover:bg-gray-600">Start a Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<app-root></app-root>
