<div class="flex justify-center items-center h-screen w-full">
    <div class="max-w-md mx-auto text-center bg-white px-4 sm:px-8 py-10 rounded-xl shadow">
      <header class="mb-8">
        <h1 class="text-2xl font-bold mb-1">Account Verification</h1>
        <p class="text-[15px] text-slate-500">
          Enter the 6-digit verification code that was sent to your email address.
        </p>
      </header>
      <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
        <div formArrayName="otp" class="flex items-center justify-center gap-3">
          <input
          *ngFor="let control of otpControls.controls; let i = index"
          [formControlName]="i"
          name="digit{{ i }}"
          type="text"
          maxlength="1"
          (keyup)="onInput($event, i)"
            class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-1 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
          />
        </div>
        <div class="max-w-[260px] mx-auto mt-4">
          <button
          type="submit"
          [disabled]="otpForm.invalid"
            class="w-full inline-flex justify-center whitespace-nowrap rounded-lg bg-indigo-500 px-3.5 py-2.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10 hover:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 transition-colors duration-150"
          >
            Verify Account
          </button>
        </div>
      </form>
    </div>
  </div>
  