<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>BuildVista</title>
</head>
<footer   class=" bg-black  py-6  px-0 mx-0 w-screen h-auto">
    <div class=" flex mx-auto ">
    
      
       


    <div class=" container justify-between mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-between items-center md:items-start text-center md:text-left space-y-4 md:space-y-0">
          <!-- Contact Information -->
          <div class="contact-info text-white space-y-2">
            <p class="text-xl ">Contact</p>
            <p><i class="fas fa-map-marker-alt"></i> Address: The University of Lahore, Off Raiwind Road, Lahore, Pakistan.</p>
            <p><i class="fas fa-phone-alt"></i> Call Us: 0308-6363657 | 0308-4408441</p>
            <p><i class="fas fa-envelope"></i> Email Us: <a href="mailto:support@buildvista.com" class="text-gray-300 hover:text-white">supportbuildvista.com</a></p>
          </div>
    
          <!-- Social Media Links -->
         <div class="text-white text-xl"><p>Follow Us</p>
          <div class="social-links flex space-x-4 items-center justify-center pt-2">
        
            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-instagram text-2xl"></i>
            </a>
            <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-facebook text-2xl"></i>
            </a>
            <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-twitter text-2xl"></i>
            </a>
          </div>
        </div>

        <div class="text-white">
         <p class="text-xl">Links</p>   
         <p><a href="/home" target="_blank" rel="noopener noreferrer">
          Home
            </a></p>      
         <p><a href="/about" target="_blank" rel="noopener noreferrer">
          About
          </a></p>
          <a href="/contact" target="_blank" rel="noopener noreferrer">
          Support
            </a>
        </div>
        </div>
        
          <!-- Legal Links -->
          <div class="legal-links space-y-2 text-sm text-gray-300 pt-16 w-full text-center">
            <p>© 2024 BuildVista. All Rights Reserved.</p>
            <div class="flex space-x-4  w-full justify-center">
              <a href="/privacypolicy" class="hover:text-white" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
              <a href="/termsandconditions" class="hover:text-white" target="_blank" rel="noopener noreferrer">Terms & Conditions</a>
            </div>
          </div>
        </div>
      </div>
     
</footer>